<ion-view title="Photo">
  <ion-nav-bar>
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="cancel()">Cancel</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="has-header" padding="true">


    <button ng-click="playIt()" class="button button-block button-positive" type="submit">Play it </button>
    <br>
    <button ng-click="passIt()" class="button button-block button-positive" type="submit">Pass it </button>

  </ion-content>

</ion-view>

